# Data Preparation

##  Load and explore the dataset

In [1]:
# Load the pandas and numpy packages
import pandas as pd
import os
import numpy as np

In [2]:
import sys
sys.executable

'c:\\Users\\chant\\AppData\\Local\\pypoetry\\Cache\\virtualenvs\\data-product-with-ml-ZVsQeeWq-py3.9\\Scripts\\python.exe'

In [4]:
import os
import zipfile
import shutil

# Define the root folder where your zip files are located
root_folder = r'C:\Users\chant\OneDrive\Desktop\itineraries_csv'

# Define the destination folder where you want to extract the CSVs
destination_folder = r'C:\Users\chant\adv_mla_2023\data_product_with_ml\data\raw'

# Create the destination folder if it doesn't exist
if not os.path.exists(destination_folder):
    os.makedirs(destination_folder)

# Iterate through the subdirectories in the root folder
for subdir, _, files in os.walk(root_folder):
    for file in files:
        if file.endswith('.zip'):
            zip_file_path = os.path.join(subdir, file)
            with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
                zip_ref.extractall(destination_folder)

In [5]:
# Specify the directory where the CSV files are located
directory = r'C:\Users\chant\adv_mla_2023\data_product_with_ml\data\raw'

# Initialize an empty list to store DataFrames from individual CSV files
dfs = []

# Iterate over all files in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Read each CSV file into a DataFrame and append it to the list
        file_path = os.path.join(directory, filename)
        df = pd.read_csv(file_path)
        dfs.append(df)

# Concatenate all DataFrames in the list into one
combined_df = pd.concat(dfs, ignore_index=True)

# Now, combined_df contains all the data from the CSV files in a single DataFrame

In [3]:
# Specify the path where to save the combined DataFrame as a CSV file
output_csv_path = r'C:\Users\chant\adv_mla_2023\data_product_with_ml\data\interim\combined_data.csv'

# Save the combined DataFrame to a CSV file
combined_df.to_csv(output_csv_path, index=False)

# Print a message to confirm that the CSV file has been saved
print(f"Combined DataFrame saved to {output_csv_path}")

NameError: name 'combined_df' is not defined

In [62]:
output_csv_path = r'C:\Users\chant\adv_mla_2023\data_product_with_ml\data\interim\combined_data.csv'
combined_df = pd.read_csv(output_csv_path)

In [63]:
combined_df.shape

(13519999, 23)

In [64]:
# Display the first 5 rows of data and all the columns
pd.set_option('display.max_columns', None)
combined_df.head(100)

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,totalTravelDistance,segmentsDepartureTimeEpochSeconds,segmentsDepartureTimeRaw,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,9ca0e81111c683bec1012473feefd28f,2022-04-16,2022-04-17,ATL,BOS,PT2H29M,False,False,True,248.60,947.0,1650214620,2022-04-17T12:57:00.000-04:00,1650223560,2022-04-17T15:26:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,8940,947,coach
1,98685953630e772a098941b71906592b,2022-04-16,2022-04-17,ATL,BOS,PT2H30M,False,False,True,248.60,947.0,1650191400,2022-04-17T06:30:00.000-04:00,1650200400,2022-04-17T09:00:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9000,947,coach
2,98d90cbc32bfbb05c2fc32897c7c1087,2022-04-16,2022-04-17,ATL,BOS,PT2H30M,False,False,True,248.60,947.0,1650209700,2022-04-17T11:35:00.000-04:00,1650218700,2022-04-17T14:05:00.000-04:00,BOS,ATL,Delta,DL,Boeing 757-200,9000,947,coach
3,969a269d38eae583f455486fa90877b4,2022-04-16,2022-04-17,ATL,BOS,PT2H32M,False,False,True,248.60,947.0,1650218340,2022-04-17T13:59:00.000-04:00,1650227460,2022-04-17T16:31:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9120,947,coach
4,980370cf27c89b40d2833a1d5afc9751,2022-04-16,2022-04-17,ATL,BOS,PT2H34M,False,False,True,248.60,947.0,1650203940,2022-04-17T09:59:00.000-04:00,1650213180,2022-04-17T12:33:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9240,947,coach
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,b8632c8d6306eefa042de33dd303fc21,2022-04-16,2022-04-17,ATL,DFW,PT2H30M,False,False,True,168.59,NaN,1650247020,2022-04-17T21:57:00.000-04:00,1650256020,2022-04-17T23:27:00.000-05:00,DFW,ATL,Spirit Airlines,NK,AIRBUS INDUSTRIE A321 SHARKLETS,9000,NaN,coach
96,a5e3ac25a2a23b16e9a7c82eb3dbe5c6,2022-04-16,2022-04-17,ATL,DFW,PT2H13M,False,False,True,202.60,725.0,1650198600,2022-04-17T08:30:00.000-04:00,1650206580,2022-04-17T09:43:00.000-05:00,DAL,ATL,Delta,DL,Boeing 717,7980,725,coach
97,46cab91070ddf01f23ad6d59600c2bff,2022-04-16,2022-04-17,ATL,DFW,PT2H15M,False,False,True,202.60,725.0,1650227940,2022-04-17T16:39:00.000-04:00,1650236040,2022-04-17T17:54:00.000-05:00,DAL,ATL,Delta,DL,Boeing 717,8100,725,coach
98,b8227b6368a7bc1c8d83591695af18cb,2022-04-16,2022-04-17,ATL,DFW,PT2H16M,False,False,True,202.60,725.0,1650221820,2022-04-17T14:57:00.000-04:00,1650229980,2022-04-17T16:13:00.000-05:00,DAL,ATL,Delta,DL,Boeing 717,8160,725,coach
99,2bcf2f66e9c0d933d452ab9941adf829,2022-04-16,2022-04-17,ATL,DFW,PT2H16M,False,False,True,202.60,725.0,1650206580,2022-04-17T10:43:00.000-04:00,1650214740,2022-04-17T11:59:00.000-05:00,DAL,ATL,Delta,DL,Boeing 717,8160,725,coach

In [65]:
# Display the summary of columns
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13519999 entries, 0 to 13519998
Data columns (total 23 columns):
 #   Column                             Dtype
---  ------                             -----
 0   legId                              object
 1   searchDate                         object
 2   flightDate                         object
 3   startingAirport                    object
 4   destinationAirport                 object
 5   travelDuration                     object
 6   isBasicEconomy                     bool
 7   isRefundable                       bool
 8   isNonStop                          bool
 9   totalFare                          float64
 10  totalTravelDistance                float64
 11  segmentsDepartureTimeEpochSeconds  object
 12  segmentsDepartureTimeRaw           object
 13  segmentsArrivalTimeEpochSeconds    object
 14  segmentsArrivalTimeRaw             object
 15  segmentsArrivalAirportCode         object
 16  segmentsDepartureAirportCode       object
 17  segmentsAirlineName                object
 18  segmentsAirlineCode                object
 19  segmentsEquipmentDescription       object
 20  segmentsDurationInSeconds          object
 21  segmentsDistance                   object
 22  segmentsCabinCode                  object
dtypes: bool(3), float64(2), object(18)
memory usage: 2.1+ GB

Key points of investigation: 

- dtype: object
- Investigate missing values, potential negative values and duplicate rows

In [66]:
# Display the descriptive statistics
combined_df.describe()

          totalFare  totalTravelDistance
count  1.352000e+07         1.256038e+07
mean   3.737535e+02         1.569619e+03
std    2.075496e+02         8.414888e+02
min    2.397000e+01         9.700000e+01
25%    2.235800e+02         8.620000e+02
50%    3.446000e+02         1.392000e+03
75%    4.876000e+02         2.376000e+03
max    8.260610e+03         4.430000e+03

Key Observations: no negative values for totalFare (our target) and totalTravelDistance

In [67]:
#List of columns before cleaning 

columns_before = combined_df.columns.tolist()

columns_before

['legId',
 'searchDate',
 'flightDate',
 'startingAirport',
 'destinationAirport',
 'travelDuration',
 'isBasicEconomy',
 'isRefundable',
 'isNonStop',
 'totalFare',
 'totalTravelDistance',
 'segmentsDepartureTimeEpochSeconds',
 'segmentsDepartureTimeRaw',
 'segmentsArrivalTimeEpochSeconds',
 'segmentsArrivalTimeRaw',
 'segmentsArrivalAirportCode',
 'segmentsDepartureAirportCode',
 'segmentsAirlineName',
 'segmentsAirlineCode',
 'segmentsEquipmentDescription',
 'segmentsDurationInSeconds',
 'segmentsDistance',
 'segmentsCabinCode']

In [68]:
# Assuming 'combined_df' is your DataFrame and it's already been loaded with data.
unique_starting_airports = combined_df['startingAirport'].unique()
unique_destination_airports = combined_df['destinationAirport'].unique()
unique_segments_AirlineName = combined_df['segmentsAirlineName'].unique()

# Now 'unique_starting_airports' and 'unique_destination_airports' are arrays containing the unique values
# from their respective columns in 'combined_df'.

In [69]:
unique_destination_airports

array(['BOS', 'CLT', 'DEN', 'DFW', 'DTW', 'EWR', 'IAD', 'JFK', 'LAX',
       'LGA', 'MIA', 'OAK', 'ORD', 'PHL', 'SFO', 'ATL'], dtype=object)

In [70]:
unique_starting_airports

array(['ATL', 'BOS', 'CLT', 'DEN', 'DFW', 'DTW', 'EWR', 'IAD', 'JFK',
       'LAX', 'LGA', 'MIA', 'OAK', 'ORD', 'PHL', 'SFO'], dtype=object)

In [71]:
unique_segments_AirlineName

array(['Delta', 'JetBlue Airways', 'American Airlines||American Airlines',
       'United||United', 'Spirit Airlines||Spirit Airlines',
       'American Airlines', 'JetBlue Airways||JetBlue Airways',
       'Frontier Airlines', 'United',
       'Frontier Airlines||Frontier Airlines', 'Spirit Airlines',
       'Delta||Delta', 'Delta||United',
       'Delta||Cape Air||Cape Air||Delta', 'Delta||Delta||Delta',
       'Delta||Cape Air||Cape Air||United', 'United||Delta',
       'United||United||Delta',
       'Frontier Airlines||Frontier Airlines||Frontier Airlines',
       'Alaska Airlines',
       'Spirit Airlines||Spirit Airlines||Spirit Airlines',
       'Delta||United||Delta', 'United||United||Alaska Airlines',
       'Alaska Airlines||Alaska Airlines',
       'American Airlines||American Airlines||American Airlines',
       'Delta||Alaska Airlines', 'United||Delta||Delta',
       'United||Alaska Airlines', 'United||United||United',
       'United||United||United||Delta',
       'United||United||Alaska Airlines||Alaska Airlines',
       'United||Alaska Airlines||Alaska Airlines',
       'Alaska Airlines||Alaska Airlines||Alaska Airlines',
       'Delta||Alaska Airlines||United',
       'JetBlue Airways||JetBlue Airways||JetBlue Airways',
       'JetBlue Airways||Cape Air||Cape Air', 'Delta||United||United',
       'Delta||Alaska Airlines||Alaska Airlines',
       'Alaska Airlines||United', 'Boutique Air||Boutique Air||United',
       'Alaska Airlines||Alaska Airlines||United',
       'American Airlines||Key Lime Air||Key Lime Air',
       'American Airlines||American Airlines||Cape Air||Cape Air',
       'United||Key Lime Air||Key Lime Air',
       'Delta||Alaska Airlines||Delta',
       'Delta||United||United||Alaska Airlines',
       'United||Cape Air||Cape Air||Delta', 'Delta||Delta||United',
       'Southern Airways Express||Southern Airways Express||American Airlines',
       'Delta||Delta||Alaska Airlines', 'United||United||United||United',
       'Boutique Air||Boutique Air||American Airlines',
       'Sun Country Airlines||Sun Country Airlines',
       'Cape Air||Cape Air||Delta', 'Cape Air||Cape Air',
       'Alaska Airlines||Delta',
       'Alaska Airlines||Alaska Airlines||Delta',
       'Alaska Airlines||United||Delta',
       'Cape Air||Cape Air||Cape Air||Delta',
       'Cape Air||Cape Air||Cape Air',
       'Cape Air||JetBlue Airways||JetBlue Airways',
       'Cape Air||Cape Air||JetBlue Airways', 'JetBlue Airways||Cape Air',
       'Cape Air||United', 'Hawaiian Airlines||Hawaiian Airlines',
       'Cape Air||Delta', 'United||Alaska Airlines||United',
       'American Airlines||Cape Air||Cape Air||American Airlines',
       'American Airlines||Southern Airways Express||Southern Airways Express',
       'American Airlines||Boutique Air||Boutique Air',
       'American Airlines||Contour Airlines||Contour Airlines',
       'American Airlines||Cape Air||Cape Air',
       'United||United||Delta||Delta',
       'United||Cape Air||Cape Air||United',
       'Key Lime Air||Key Lime Air||American Airlines',
       'Key Lime Air||Key Lime Air||United',
       'United||Delta||Alaska Airlines', 'United||Alaska Airlines||Delta',
       'Contour Airlines||Contour Airlines||American Airlines',
       'Key Lime Air||Key Lime Air',
       'Alaska Airlines||United||Alaska Airlines',
       'Delta||United||Alaska Airlines',
       'JetBlue Airways||Cape Air||JetBlue Airways',
       'United||Southern Airways Express||Southern Airways Express',
       'JetBlue Airways||American Airlines', 'United||Cape Air',
       'Delta||Cape Air||Cape Air||Cape Air',
       'United||Cape Air||Cape Air||Cape Air',
       'Southern Airways Express||Southern Airways Express||United',
       'Cape Air||JetBlue Airways',
       'Cape Air||Cape Air||Cape Air||United',
       'Cape Air||Cape Air||Cape Air||JetBlue Airways',
       'Delta||United||United||United', 'Alaska Airlines||Delta||Delta',
       'Alaska Airlines||United||United', 'Delta||Cape Air',
       'Alaska Airlines||Delta||United',
       'Southern Airways Express||Southern Airways Express||Alaska Airlines',
       'Delta||Delta||United||United',
       'American Airlines||JetBlue Airways',
       'United||United||United||Alaska Airlines',
       'Alaska Airlines||United||United||United',
       'Alaska Airlines||Alaska Airlines||United||United',
       'Delta||United||United||Delta',
       'Hawaiian Airlines||Alaska Airlines', 'Hawaiian Airlines||United',
       'United||Boutique Air||Boutique Air',
       'Cape Air||Cape Air||American Airlines||American Airlines',
       'Cape Air||Cape Air||Delta||Delta',
       'Cape Air||Cape Air||American Airlines',
       'Cape Air||Cape Air||United||United',
       'Cape Air||Cape Air||Alaska Airlines',
       'Cape Air||Cape Air||Alaska Airlines||Alaska Airlines',
       'JetBlue Airways||JetBlue Airways||Cape Air',
       'United||Cape Air||Cape Air||Alaska Airlines',
       'United||United||Alaska Airlines||Delta',
       'Alaska Airlines||Southern Airways Express||Southern Airways Express',
       'United||Hawaiian Airlines'], dtype=object)

## Clean the dataset

In [72]:
# Create a copy of data and save it into a variable data_cleaned
data_cleaned=combined_df.copy()

In [73]:
#Remove unnecessary columns - given the business problem and the required columns necessary for deployment via the streamlit app, we can remove a number of columns. 

columns_to_drop = [
    'segmentsDepartureTimeEpochSeconds',
    'segmentsDepartureTimeRaw',
    'segmentsArrivalTimeEpochSeconds',
    'segmentsArrivalTimeRaw',
    'segmentsArrivalAirportCode',
    'segmentsDepartureAirportCode',
    'segmentsAirlineCode',
    'segmentsEquipmentDescription',
    'segmentsDurationInSeconds',
    'segmentsDistance'
]

data_cleaned = data_cleaned.drop(columns=columns_to_drop, axis=1)

In [74]:
#Confirm there are any missing values  
data_cleaned.isnull().sum()

legId                       0
searchDate                  0
flightDate                  0
startingAirport             0
destinationAirport          0
travelDuration              0
isBasicEconomy              0
isRefundable                0
isNonStop                   0
totalFare                   0
totalTravelDistance    959619
segmentsAirlineName         0
segmentsCabinCode           0
dtype: int64

Missing values for totalTravelDistance. Due to the nature of this field, will impute it with its mean.

In [75]:
# Replace missing values in 'totalTravelDistance' with the mean of the column
data_cleaned['totalTravelDistance'].fillna(data_cleaned['totalTravelDistance'].mean(), inplace=True)

In [76]:
#Confirm there are no missing values remaining 

data_cleaned.isnull().sum()

legId                  0
searchDate             0
flightDate             0
startingAirport        0
destinationAirport     0
travelDuration         0
isBasicEconomy         0
isRefundable           0
isNonStop              0
totalFare              0
totalTravelDistance    0
segmentsAirlineName    0
segmentsCabinCode      0
dtype: int64

No missing values remaining

In [77]:
missing_columns = data_cleaned.columns[data_cleaned.isnull().any()]
missing_columns

Index([], dtype='object')

In [78]:
# Check for duplicate rows and remove them
duplicate_rows = data_cleaned.duplicated()
if duplicate_rows.any():
    print(f"Number of duplicate rows: {sum(duplicate_rows)}")
    data_cleaned = data_cleaned[~duplicate_rows]

No duplicate rows

In [79]:
# Extract the column 'sales_revenue' and save it into variable called target
target=data_cleaned.pop('totalFare')

In [80]:
data_cleaned['travelDuration'].head()

0    PT2H29M
1    PT2H30M
2    PT2H30M
3    PT2H32M
4    PT2H34M
Name: travelDuration, dtype: object

In [81]:
#Obtain data for Streamlit app 

import re

# Define the duration_to_seconds function
def duration_to_seconds(duration_str):
    match = re.match(r'PT(\d+)H(\d+)M', duration_str)
    if match:
        hours = int(match.group(1))
        minutes = int(match.group(2))
        total_seconds = hours * 3600 + minutes * 60
        return total_seconds
    else:
        # Handle invalid duration format (assign a default value, e.g., 0 seconds)
        return 0

# Assuming 'travelDuration' is a column in your data_cleaned DataFrame
data_cleaned['travelDuration'] = data_cleaned['travelDuration'].apply(duration_to_seconds)

# Now, the 'travelDuration' column in data_cleaned is in seconds, and invalid formats are set to 0 seconds

#Extract data needed for the streamlit app

selected_columns = ['startingAirport', 'destinationAirport', 'totalTravelDistance', 'travelDuration']
extracted_data = data_cleaned[selected_columns]

# Specify the path to save the CSV file
output_path = r'C:\Users\chant\adv_mla_2023\data_product_with_ml\data\processed\extracted_data.csv'

# Save the extracted data to a CSV file
extracted_data.to_csv(output_path, index=False)

print(f"Extracted data saved to {output_path}")

In [83]:
#Handling Categorical Variables - determine number of unique categories for each of these features

# Convert NumPy array to DataFrame
data_cleaned_df = pd.DataFrame(data_cleaned, columns=data_cleaned.columns)

# Select columns with dtype 'object' or 'bool'
object_columns = data_cleaned_df.select_dtypes(include=['object', 'bool'])

# Find the count of unique values for each object column
unique_values_count_dict = {}
for column in object_columns:
    unique_values_count = data_cleaned_df[column].nunique()
    unique_values_count_dict[column] = unique_values_count

# Print count of unique values for each object column
for column, count in unique_values_count_dict.items():
    print(f"Count of unique values for '{column}': {count}")

Count of unique values for 'legId': 1721518
Count of unique values for 'searchDate': 32
Count of unique values for 'flightDate': 92
Count of unique values for 'startingAirport': 16
Count of unique values for 'destinationAirport': 16
Count of unique values for 'isBasicEconomy': 2
Count of unique values for 'isRefundable': 2
Count of unique values for 'isNonStop': 2
Count of unique values for 'segmentsAirlineName': 118
Count of unique values for 'segmentsCabinCode': 52

Drop 'legId'. 'searchdate', 'flightdate' can be transformed into datetime objects and then numeric.  The other time-related columns are duration based and can be converted to numeric.

The remaining variables are categorical nominal so label encoding is not ideal. A number of features have high cardinality so we will use hashing encoding for all of them for simplicity. This is especially benficial given the large size of the dataframe which makes one-hot encoding sub-optimal.

In [84]:
data_cleaned.drop('legId', axis=1, inplace=True)

In [85]:
# Convert boolean columns to numeric (0 or 1)
data_cleaned[['isBasicEconomy', 'isRefundable', 'isNonStop']] = data_cleaned[['isBasicEconomy', 'isRefundable', 'isNonStop']].astype(int)

In [86]:
# Convert 'searchdate' and 'flightDate' into standard datetime columns then numeric for ML 
data_cleaned[['searchDate', 'flightDate']] = data_cleaned[['searchDate', 'flightDate']].apply(lambda x: pd.to_datetime(x).astype('int64') // 10**9)

In [87]:
#Hashing Encoding 

from sklearn.feature_extraction import FeatureHasher
from sklearn.preprocessing import LabelEncoder

# Specify the columns for which you want to apply hashing encoding
columns_to_hash = [
    'startingAirport',
    'destinationAirport',
    'segmentsAirlineName',
    'segmentsCabinCode',
    'travelDuration'
]


# Initialize the FeatureHasher
hasher = FeatureHasher(n_features=5, input_type='string')  # Choose the number of bins (n_features)

# Prepare an iterable of iterables of strings for hashing encoding
hashed_features = []
for row in data_cleaned[columns_to_hash].values:
    hashed_row = [str(value) for value in row]
    hashed_features.append(hashed_row)

# Apply hashing encoding to the specified columns
hashed_features = hasher.transform(hashed_features)

# Convert hashed_features to a DataFrame
hashed_df = pd.DataFrame(hashed_features.toarray())

# Specify columns to drop
columns_to_drop = columns_to_hash

# Concatenate the hashed DataFrame with the original data and remove specified columns
data_cleaned = pd.concat([data_cleaned.drop(columns=columns_to_drop), hashed_df], axis=1)

In [88]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13519999 entries, 0 to 13519998
Data columns (total 11 columns):
 #   Column               Dtype
---  ------               -----
 0   searchDate           int64
 1   flightDate           int64
 2   isBasicEconomy       int32
 3   isRefundable         int32
 4   isNonStop            int32
 5   totalTravelDistance  float64
 6   0                    float64
 7   1                    float64
 8   2                    float64
 9   3                    float64
 10  4                    float64
dtypes: float64(6), int32(3), int64(2)
memory usage: 979.9 MB

In [89]:
columns_after = data_cleaned.columns.tolist()

columns_after

['searchDate',
 'flightDate',
 'isBasicEconomy',
 'isRefundable',
 'isNonStop',
 'totalTravelDistance',
 0,
 1,
 2,
 3,
 4]

In [90]:
#Collate list of removed columns and save into list - if test_data becomes accesible, can be used to clean data more efficiently 

removed_columns = [column for column in columns_before if column not in columns_after]

print("Removed columns:", removed_columns)

import pickle

# Save the list using pickle
with open('removed_columns.pkl', 'wb') as f:
    pickle.dump(removed_columns, f)

Removed columns: ['legId', 'startingAirport', 'destinationAirport', 'travelDuration', 'totalFare', 'segmentsDepartureTimeEpochSeconds', 'segmentsDepartureTimeRaw', 'segmentsArrivalTimeEpochSeconds', 'segmentsArrivalTimeRaw', 'segmentsArrivalAirportCode', 'segmentsDepartureAirportCode', 'segmentsAirlineName', 'segmentsAirlineCode', 'segmentsEquipmentDescription', 'segmentsDurationInSeconds', 'segmentsDistance', 'segmentsCabinCode']

In [91]:
data_cleaned.shape

(13519999, 11)

In [92]:
data_cleaned.head()

,searchDate,flightDate,isBasicEconomy,isRefundable,isNonStop,totalTravelDistance,0,1,2,3,4
0,1650067200,1650153600,0,0,1,947.0,1.0,0.0,0.0,1.0,-1.0
1,1650067200,1650153600,0,0,1,947.0,1.0,0.0,0.0,2.0,0.0
2,1650067200,1650153600,0,0,1,947.0,1.0,0.0,0.0,2.0,0.0
3,1650067200,1650153600,0,0,1,947.0,2.0,0.0,0.0,1.0,0.0
4,1650067200,1650153600,0,0,1,947.0,1.0,1.0,0.0,1.0,0.0

In [93]:
data_cleaned.isnull().sum()

searchDate             0
flightDate             0
isBasicEconomy         0
isRefundable           0
isNonStop              0
totalTravelDistance    0
0                      0
1                      0
2                      0
3                      0
4                      0
dtype: int64

##  Split Train and Test Sets for Cleaned Data

In [94]:
# Import StandardScaler from sklearn.preprocessing and instantiate the StandardScaler
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

In [95]:
#  Import StandardScaler from sklearn.preprocessing
from sklearn.preprocessing import StandardScaler
data_cleaned.columns = data_cleaned.columns.astype(str)

In [96]:
# Fit and apply the scaling on data_cleaned
data_cleaned=scaler.fit_transform(data_cleaned)

In [97]:
# Import dump from joblib and save the scaler into the folder models and call the file scaler.joblib
from joblib import dump

dump(scaler, '../models/scaler_dropped_fe.joblib')

['../models/scaler_dropped_fe.joblib']

In [98]:
#%load_ext autoreload
#%autoreload 2

In [99]:
# Import function scaler_split_train_test from data.sets
import sys
sys.path.insert(1, '..')
from src.data.sets import split_train_test

In [100]:
# Split the scaler data into training (80%) and validation (20%)
X_train, X_val, y_train, y_val=split_train_test(df=data_cleaned,target=target,test_ratio=0.2)

In [101]:
# Import the function save_sets from sets and save the sets into the folder data/processed
from src.data.sets import save_sets
save_sets(X_train, y_train, X_val, y_val, path='../data/processed/')

In [102]:
# Import the function load_sets from sets and load the sets from data/processed
from src.data.sets import load_sets
X_train, y_train, X_val, y_val, X_test, y_test = load_sets(path='../data/processed/')

## Baseline Prediction Model

In [103]:
# Import statistics
from statistics import mode

In [104]:
# Find the mode of the target variable from the training set
y_mode=mode(y_train)

In [105]:
# Create a numpy array called y_base of dimensions (len(y_train), 1) filled with the mode value
y_base=np.full((len(y_train),1),y_mode)

In [106]:
# Import the function print_class_perf from models.performance and display the ROC-AUC score
from src.models.performance import print_mse

print_mse(y_train,y_base,set_name='Training')

MSE Training: 44268.18510943663